.Figure-cont {}
.Figure {
  text {
    fill: currentColor;
    font-family: 'Open Sans', 'DejaVu Sans', sans-serif;
    font-size: 18px;
    user-select: none;
  }
  
  rect {
    fill: none;
    stroke: none;
  }

  line {
    fill: none;
    stroke: currentColor;
  }

  marker {
    fill: currentColor;
    stroke: none;
  }
}

.Plot-root { }
.Plot-clip { }
.Plot-box > rect {
  fill: #ffffff;
  stroke: currentColor;
}

.Plot-zoom { }

.PlotLine {
  stroke: currentColor;
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.axis-label {
  font-size: 12px;
  fill: #374151;
  text-anchor: middle;
}

.XAxis, .YAxis {
  text-anchor: middle;
}

.XAxis-tick, .YAxis-tick { }

.YAxis[data-pos="left"] .YAxis-tick { text-anchor: end; }
.YAxis[data-pos="right"] .YAxis-tick { text-anchor: start; }