
.plot {
  display: block;
  max-width: 100%;

  stroke-width: 2px;
}

.axis-cont {
  fill: none;
}

.axis-box {
  fill: #ffffff;
  stroke: #000000;
}

.axis-clip { }

.zoom {
  fill: none;
}

.plot-line {
  stroke: currentColor;
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.plot-marker circle {
  fill: currentColor;
}

.axis-label {
  font-size: 12px;
  fill: #374151;
  text-anchor: middle;
}

.bot-axis,
.top-axis,
.left-axis,
.right-axis {
  text-anchor: middle;
  /*fill: #111827;
  stroke: #9ca3af;*/
}

.left-axis .tick {
  text-anchor: end;
}

.right-axis .tick {
  text-anchor: start;
}

.tick text {
  fill: currentColor;
}

.tick line {
  stroke: currentColor;
}

.plot text {
  fill: black;
  font-family: 'Open Sans', 'DejaVu Sans', sans-serif;
  font-size: 18px;
  user-select: none;
}