
.root {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
  stroke-width: 1.5px;
}

.body {
  fill: var(--plotlib-accent);
  fill-opacity: 0.3;
  stroke: var(--plotlib-plot-fg);
  vector-effect: non-scaling-stroke;
}

.center {
  stroke: var(--plotlib-plot-fg);
  stroke-linecap: round;
  vector-effect: non-scaling-stroke;
  fill: none;
  stroke-width: 2px;
}
